.content {
  background: #ffdab9;
}

.headerText {
  color: #8b475d;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .user {
    font-size: 5px;
  }
  .headerText {
    font-size: 11px;
  }
}
